/* By Frantisek Friedl */

/* Global Styling and utility classes */
* {
   margin: 0px;
   padding:  0px;   
}

html {
  scroll-behavior: smooth;
}

h1, p {
   color: #fff;   
}

/* Navigation */
nav {
   background: rgba(0, 0, 0, 0.5);
   height: 68px;      
}

ul {
   text-align: right;   
}

nav li {
   display: inline-block;   
   padding: 20px 20px;
   margin: 5px 5px;
   
}

nav li a:hover {
   text-decoration: underline;
}

li a {
   text-decoration:  none;
   color: #fff;
}

/* Hero Image */
#hero {
   background-image: url('images/hero_image.jpg');   
   height: 100vh;
   background-size: cover;                    
   background-repeat: no-repeat;
   background-position: center center; 
}

/* Hero text overlay */
#hero-text-overlay {
   color: #fff;
   position: absolute;    
   left: 50;
   top: 200;
   font-size: 40px;
   line-height: 1.5;
}

#hero-text-overlay .text-underline {
   text-decoration: underline red;
}

/* Email Subscription */
#email-subscription {
   height: 200px;
   background-color: red;
   text-align: center;
   position: relative;
   line-height: 1.5;  
   font-size: 1rem;
}

#email-subscription input:focus {
   border-color: white;
   background: rgba(0, 0, 0, 0.25);
}

#email-subscription .wrapper {   
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

#email-subscription .wrapper h1 {      
   text-transform: uppercase;      
}

#email-subscription input {
   width: 30%;
   min-width: 200px;
   height: 30px;
   border-radius: 5px;
   border-width: 0px;   
}

#email-subscription button {
   width: 5%;
   min-width: 80px;
   height: 30px;
   background-color: #000;
   color: #fff;
   cursor: pointer;
   border-radius: 5px;
   border-width: 0px;
}

#email-subscription p {
   padding-top: 10px;
}

/* Content showcase */
#content-showcase {   
   background: rgba(0, 0, 0, 0.75);
   text-align: center;   
}

#content-showcase h1{
   padding-top: 10px;
   padding-bottom: 10px;   
   background: rgba(0, 0, 0, 0.5);
}

#content-showcase .content-row img {
   width: 32%;
   margin: 0.25%;
}

/* About Author */
#about-author {
   margin: 10%;   
}

#about-author .row {
   width: 100%;
}

#about-author h1 {
   text-align: center;
   text-decoration: underline ;   
   text-decoration-color: red;
   padding-bottom: 50px;
   color: #000;
}

#about-author img {
   width: 49%;
   max-width: 500px;
   border-radius: 50%;      
}

#about-author .container {
   position: relative;
}

#about-author .about-author-text {   
   width: 49%;   
   line-height: 1.5;   
}

/* Social Media Following */
#social-media {
   height: 200px;
   background-color: red;
   text-align: center;
   position: relative;
}

#social-media .wrapper {
   position: absolute;
   top:  50%;
   left: 50%;
   transform: translate(-50%, -50%);   
}

#social-media .row {
   width: 100%;
}

#social-media ul {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

#social-media li {
   display: inline-block;  
   margin: 5px;
}

#social-media i {
   color: #fff;
   font-size: 3em;
}

/* Success Matrices */
#success-matrices {
   height: 200px;
   background: rgba(0, 0, 0, 0.75);
   position: relative;
}

#success-matrices .row {
   width: 100%;
}

#success-matrices h1 {
   text-align:  center;
   padding-top: 10px;
}

#success-matrices .wrapper,
#success-matrices .container {
   position: absolute;
   top:  55%;
   left: 50%;
   transform: translate(-50%, -50%);   
   width: 100%;
}

#success-matrices .counter {
   height: 120px;
   text-align: center;
}

#success-matrices .wrapper span {
   color: #fff;
   border: 5px solid #ddd;
   padding: 0 30px;
   border-radius:  25px;
   margin: 0 10px;
}

#success-matrices .wrapper .box {
   display: inline-block;
   overflow: hidden;
   height: 1em;
   line-height: 1em;
   font-weight: bold;
   font-size: 3em;
}

#success-matrices .wrapper .box:after {
   position: relative;
   white-space: pre;
   content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";   
}

#success-matrices .wrapper .first-number:after {
   animation: animate 1s steps(10) infinite;
}

#success-matrices .wrapper .second-number:after {
   animation: animate 10s steps(10) infinite;
}

#success-matrices .wrapper .third-number:after {
   animation: animate 100s steps(10) infinite;
}

@keyframes animate {
   0% {
      top: 0;
   }

   100% {
      top: -10em;
   }

}

/* Contact */
#contact {
   background-color: #f6f6f6;
   text-align: center;      
}

#contact .row {    
   padding: 20px 20px;
}

#contact .col {   
   width: 48%;
   justify-content: center;  
   align-items: center;
   display: inline-block;   
}

#contact .contact-text {   
   text-align: left;
   margin-right: 10px;
}

#contact .heading h1 {   
   color: black;
   margin: auto;
   text-decoration: underline;
   margin-bottom: 20px;
}

#contact .contact-email {
   display: inline-flex;   
   height: 100px;
}

#contact .contact-email img {   
   height: 100px;
   width: 95px;
   border: solid black;
}

#contact .contact-email .email-address {
   height: 100px;
}

#contact .contact-email .email-address p {
   color: #000;
   margin: 20px 20px;
}

#contact .contact-email .email-address {        
   margin: auto;
   width: 100%;
   text-align: left;
   margin: 21px 25px 21px 0px;
   border: solid black;
   box-shadow: 5px 10px;
}

/* Footer */
footer {
   margin-bottom: 20px;
}

footer ul {
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}

footer li {
   display: inline-block;  
   margin: 5px;
}

footer i {
   color: grey;
   font-size: 50px;
}

footer .col {
   text-align: center;
   margin-top: 20px;
}

/* Responsive Styling - Tablet and Mobile*/
@media only screen and (max-width: 600px) {
   #email-subscription .wrapper h1 {
      font-size: 0.9rem;
   }

   #email-subscription .wrapper button {
      margin-top: 10px;
      width: 200px;      
   }

   #hero-text-overlay {
      font-size: 6vw;
   }

   .content-row img {
      width: 49%;
   }

   #about-author img {
      width: 100%;
      margin-bottom: 20px;
   }

   #about-author .about-author-text {
      width: 100%;
   }

   #contact .col {
      width: 100%;
   }

   #contact .contact-email {
      margin-top: 20px;
      padding-bottom: 20px;
   }       
    
}

/* Responsive styling - Dekstop only */
@media only screen and (min-width: 600px) {

   #about-author .about-author-text {
      position: absolute;
      top: 50%;
      left: 75%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);      
   }

}

/* Responsive Styling - Mobile only*/
@media only screen and (max-width: 480px) {
   
   #content-showcase .content-row img {
      width: 95%;    
      margin: 5px 0px 5px 0px;  
   }

   nav ul {
      text-align: center;
   }

   #success-matrices .wrapper .box {
      font-size: 2em;
   }

   #social-media i {
      font-size: 1.5em;
   }
}
